<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="title">Title</label>
                    <input 
                    type="text" 
                    id="title" 
                    class="form-control"
                    name="title"
                    ngModel
                    required>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="description">Description</label>
                    <input 
                    type="text" 
                    id="description" 
                    class="form-control"
                    name="description"
                    ngModel
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="location">Location</label>
                    <input 
                    type="text" 
                    id="location" 
                    class="form-control"
                    name="location"
                    ngModel
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="salary">Salary</label>
                    <input 
                    type="text" 
                    id="salary" 
                    class="form-control"
                    name="salary"
                    ngModel
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="type">Type</label>
                    <select
                        id="type"
                        class="form-control"
                        name="type"
                        ngModel
                        required>
                        <option value="" disabled selected>Select type</option>
                        <option value="Full-time">Full-time</option>
                        <option value="Part-time">Part-time</option>
                        <option value="Internship">Internship</option>
                        <option value="Contract">Contract</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" 
                    type="submit"[disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button 
                    class="btn btn-danger" 
                    type="button"
                    (click)="onDelete()"
                    *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary" type="button"(click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
