<div class="row align-items-center" style="margin-bottom: 20px;">
    <div class="col-xs-8 col-sm-9 col-md-10 text-center">
        <img [src]="(company$ | async)?.logoUrl"
          alt="{{(company$ | async)?.name}}"
          class="img-responsive"
          style="max-height: 300px; display: inline-block;">
    </div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1 class="m-0" style="flex: 1;">{{(company$ | async)?.name}}</h1>
            <div class="btn-group" appDropdown style="margin-left: 16px;">
                <button 
                    type="button" 
                    class="btn btn-primary dropdown-toggle">
                    Manage Company<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" [routerLink]="['/companies', (company$ |async)?.id, 'edit']">Edit Company</a></li>
                    <li><a style="cursor: pointer;" (click)="onDeleteCompany()">Delete Company</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row company-detail-section">
  <div class="col-xs-12">
    <a [href]="(company$ | async)?.websiteUrl" target="_blank">{{ (company$ | async)?.websiteUrl }}</a>
  </div>
</div>

<div class="row company-detail-section">
  <div class="col-xs-12">
    {{ (company$ | async)?.description }}
  </div>
</div>
<hr>

<div class="row company-detail-section">
  <div class="col-xs-12">
    <h3>Job Openings</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let job of (company$ | async)?.jobs">
        {{ job.title }} - ({{ job.location }}) - ${{ job.salary }}
      </li>
    </ul>
  </div>
</div>