<div class="row align-items-center" style="margin-bottom: 20px;">
    <div class="col-xs-8 col-sm-9 col-md-10">
        <img [src]="company.logoUrl"
            alt="{{company.name}}"
            class="img-responsive"
            style="max-height: 300px;">
    </div>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1 class="m-0" style="flex: 1;">{{company.name}}</h1>
            <div class="btn-group" appDropdown style="margin-left: 16px;">
                <button 
                    type="button" 
                    class="btn btn-primary dropdown-toggle">
                    Manage Company<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" (click)="onEditCompany()">Edit Company</a></li>
                    <li><a style="cursor: pointer;" (click)="onDeleteCompany()">Delete Company</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{company.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li 
            class="list-group-item" 
            *ngFor="let job of company.jobs">
                {{ job.title }} - ({{ job.location }})
            </li>
        </ul>
    </div>
</div>