<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h1 class="panel-title pull-left" style="font-size: 24px; margin: 0;">{{ (company$ | async)?.name }}</h1>
                <div class="clearfix"></div>
                <img [src]="(company$ | async)?.logoUrl" alt="{{ (company$ | async)?.name }}" class="img-responsive pull-left" style="max-height: 60px;">
                <div class="pull-right">
                    <a class="btn btn-primary" [routerLink]="['/companies', (company$ | async)?.id, 'edit']">Edit</a>
                    <a class="btn btn-danger" (click)="onDeleteCompany()">Delete</a>
                </div>
            </div>
        <div class="panel-body">
            <div class="list-group-item clearfix">
                <div class="pull-left">
                    <p class="list-group-item-text"><strong>Description:</strong> {{ (company$ | async)?.description }}</p>
                    <p class="list-group-item-text"><strong>Website:</strong> <a [href]="(company$ | async)?.websiteUrl" target="_blank">{{ (company$ | async)?.websiteUrl }}</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>