<a  
    style="cursor: pointer;"
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix" style="cursor: pointer;">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{company.name}}</h4>
        <p class="list-group-item-text ">{{company.description}}</p>
        <p class="list-group-item-text ">{{company.websiteUrl}}</p>
        <p class="list-group-item-text ">{{company.jobs}}</p>

    </div>
    <span class="pull-right">
        <img [src]="company.logoUrl" alt="{{company.name}}" class="img-responsive" style="max-height: 50px;">
    </span>
</a>